#documents-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#item {
  //background-color: gray;
  min-width: 100px;
  min-height: 110px;
  margin: 10px;
  text-align: center;
}

#icon {
  margin: 0 auto;
  background-color: silver;
  min-height: 100px;
  width: 100px;
}

#label {
  display: block;
  padding: 5px;
  margin: 0;
}
