#undergradate-students {
  margin-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.larger-header {
  font-size: 28px;
  color: #df7366;
}

#faculty {
  margin-bottom: 0;
  padding-bottom: 0;
}

#faculty > h3 {
  font-size: 30px;
}

#gallery-btn {
  margin-bottom: 7px;
}

/** https://codepen.io/dudleystorey/pen/kFoGw */
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite;
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  
  position: inherit;
}
figure.slider img { 
  width: 70%; height: auto;
  margin-left: 15%;
}
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
  margin-left: 15rem;
}

