body {
  margin: 0;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  //background: gray;
  justify-content: flex-start;
}

.tile {
  display: inline-flex;
  //background: silver;
  margin: 10px;
  width: calc(25% - 14px);
  height: 300px;
  min-width: 300px;
  justify-content: center;
}

.member-link {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  color: white;
  background: transparent;
}

.item {
  height: 300px;
  min-width: 300px;
  display: inline-block;
  position: relative;
}

.member-link:hover {
  transition: 0.3s ease-in-out;
  color: white;
  background: transparent;
}

.image-container {
    width: 300px;
    height: 300px;
    background-size:cover;
    background-position:50% 50%;
}

.member-link:hover .image{
  filter: blur(3px);
}

.member-link:hover .info {
  visibility: visible;
  transition: 0.3s ease-in-out;
  background-color: rgba(33,33,33,0.6);
}

.image {
  z-index: 0;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
}


.name {
  position: absolute;
  bottom: 0;
  width: 100%;
  //width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(33,33,33,0.5);
}

.scrollable {
  padding-left: 15px;
  padding-right: 15px;
  height: 240px;
  overflow: scroll;
}


.scrollable::-webkit-scrollbar { 
    display: none; 
}
