body {
  margin: 0;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  //background: gray;
  justify-content: flex-start;
}

.tile {
  display: inline-flex;
  //background: silver;
  margin: 7px;
  width: calc(25% - 14px);
  height: 230px;
  min-width: 230px;
  justify-content: center;
}

.member-link {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.item {
  height: 230px;
  min-width: 230px;
  display: inline-block;
  //background: salmon;
  position: relative;
}

.member-link:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.image-container {
    width: 230px;
    height: 230px;
    background-size:cover;
    background-position:50% 50%;
}

.member-link:hover .image{
  filter: blur(3px);
}

.member-link:hover .info {
  visibility: visible;
  color: white;
  font-size: 13px;
  background-color: rgba(33,33,33,0.6);
  -webkit-transition: transformation 1s;
}

.image {
  z-index: 0;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: justify;
  visibility: hidden;
}


.name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: rgba(33,33,33,0.5);
}

.scrollable {
  //background: salmon;
  padding-left: 10px;
  padding-right: 10px;
  height: 185px;
  overflow: scroll;
}

.scrollable::-webkit-scrollbar { 
    display: none; 
}